# Google Sheets datastore aplikasi
APP_DATA_SPREADSHEET_ID=
APP_DATA_SHEET=APP_DB

# Google service account
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Session
SESSION_SECRET=
ADMIN_TEACHER_IDS=

# Optional
SCHOOL_YEAR=2026-2027
GROQ_API_KEY=
